<!DOCTYPE html>
<html>
  <head>
    <link href='style.css' type='text/css' rel='stylesheet'>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/pixi.js/4.7.1/pixi.min.js'></script>
    <script src='https://cdn.jsdelivr.net/npm/planck-js@0.1.44/dist/planck.js'></script>
    <script src='tinycolor.js'></script>
    <script src='opal.js'></script>
    <script src='opal-browser.js'></script>
    <script src='scripts/app.js'></script>
  </head>
  <body>
    <div id='pixi-application'></div>
  </body>
</html>
