
html, body {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  background-color: #000000;
}

#pixi-application {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


#pixi-application canvas {
  border-style: solid;
  border-width: 1px;
  border-color: #ffffff;
}
